body,
html {
  margin: 0;
}

.app {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.map {
  width: 100vw;
  height: 100vh;
}

.marker {
  width: 45px;
  height: 70px;
  background-size: 40px 40px, 45px auto;
  background-position: 2.5px 2.5px, center top;
  background-repeat: no-repeat, no-repeat;
}

.filters {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 10px 20px;
  margin: 10px;
  box-sizing: border-box;

  position: fixed;
  top: 0;
  right: 0;
}
